:root {
    --orange: #E64B3C;
}

* {
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #EBF0F0;
}

header {
    padding: 25px 0;
    
    color: #FFFFFF; /* couleur du texte */
    background-color: var(--orange) /* couleur du fond */
}

header h1 {
    text-align: center;
}

.card {
    display: flex;
    flex-wrap: wrap;
    max-width: 450px; /* un .card ne fera jamais plus de 450px de large, mais peut faire moins */
    
    background-color: white;
    
}

.card img {
    width: 100%; /* l'image fait 100% de la largeur d'un sectionnement .card */
    order: -1;
}

.card h2 {
    color: var(--orange);
}

.card h2,
.card p {
    margin: 5px 0;
    padding: 0 10px;
}

main {
    display: flex;
    gap: 20px; /* espacement entre les cartes */

    justify-content: center;
    padding-top: 25px;
    margin-inline: 15%; /* permet de tjrs garder une marge d'au moins 15% entre les cartes et le bord de la fenêtre */
}