* {
    margin: 0;
    /* box-sizing: border-box; */
}

:root {
    --fbleu: #BBCCFF;
    --fblanc: #FFF;
    --espace: 8px;
}

body {
    margin: 4px;
}

header,
body,
main {
    display: grid;
    gap: var(--espace);
}

header {
    grid-area: header;
    /* grid-column: 1 / -1;
    grid-template-columns: 1fr 15%; */
}

body {
    /* grid-template-columns: 25% 1fr; */
    grid-template-areas: 
    "header header"
    "nav main"
    "nav footer";
}

h1,
aside,
nav,
.principal,
footer {
    background-color: var(--fbleu);
}

section {
    background-color: var(--fblanc);
}

.principal {
    display: flex;
    gap: var(--espace);
    flex-wrap: wrap;
}

nav {
    grid-area: nav;
    /* grid-row: 2 / 4; */
}

footer{
    grid-area: footer;
}