:root {
    --bgcolor: #0F4D8F;
}

body {
    background-color: var(--bgcolor);
}
.nyanbox {
    width: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

h1 {
    text-align: center;
}


.nyanbox img {
    border: 4px solid white;
    border-radius: 30px;
    padding: 30px;
}